*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 600px;
    background: url(../../pexels-aqtai-2013749.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
nav{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_buttons{
    width: 30%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_search{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav_search img{
    width: 60%;
}
.header_txt{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header_txt h1{
    font-size: 70px;
}
.header_txt h3{
    font-size: 22px;
    letter-spacing: 3px;
}
.header_txt button{
    width: 10%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
}
.under_header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 217, 200);
    gap: 100px;
}